@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');

:root {
  --font-heading: 'Roboto', sans-serif;
  --font-text: 'Poppins', sans-serif;


  --color-black: #000000;
  --color-grey: #696969;
  --color-white: #FFFFFF;
  --color-lightorange: #F0AC4D;
  --color-orange: #FF8C00;
}

html,
body {
  padding: 0px;
  margin: 0px;
}

/* Navbar  */

.navbar {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  padding: 0.5rem 0rem;
  background-color: var(--color-orange);
  color: var(--color-white);
  position: fixed;
  z-index: 11;
  transition: 1s;
}

.navbar.scrolled {
  background-color: #333;
  opacity: .8;
}

.navbar.scrolled li a:hover {
  color: var(--color-orange);
  transition: 1s;
}

.brand-name {
  text-decoration: none;
  color: var(--color-white);
  font-family: var(--font-heading);
  font-size: 32px;
  margin-left: 1rem;
}



.navigation-menu {
  margin-left: auto;
}

.navigation-menu .scrolled {
  background-color: #333;
}

.navigation-menu ul {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  font-size: 16px;
  margin-right: 1rem;
}

.navigation-menu li {
  /* // removes default disc bullet for li tags and applies margin to left & right side */
  list-style-type: none;
  margin: 0rem 2rem 0 0;
}

.navigation-menu li a {
  /* // increases the surface area of the anchor tag to span more than just the anchor text */
  text-decoration: none;
  display: block;
  width: 100%;
  color: var(--color-white);
  font-family: var(--font-text);
  transition: 1s;
}

.navigation-menu li a:hover {
  color: var(--color-black);
  transition: 1s;
}

.btn {
  font-size: 22px;
  border-radius: 10px;
  border: solid 2px var(--color-white);
  color: var(--color-white);
  background-color: var(--color-orange);
  padding: 0.5rem;
  cursor: pointer;


}

.hamburger {
  /* // removes default border on button element */
  font-size: 42px;
  border: 0;
  height: 40px;
  width: 40px;
  margin-right: 1rem;
  border-radius: 50%;
  background-color: var(--color-darkblue) !important;
  color: var(--color-white);
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  /* // positions the icon to the right and center aligns it vertically */
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  display: none;
  transition: 1s;
}

/* Header */

.header_container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 800px;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1584%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='url(%23SvgjsLinearGradient1585)'%3e%3c/rect%3e%3cpath d='M369.06 669.93C515.67 634.02 561.53 245.51 790.93 237.98 1020.34 230.45 1001.87 307.98 1212.81 307.98 1423.74 307.98 1527.77 238.22 1634.68 237.98' stroke='rgba(255%2c 140%2c 0%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M273.83 589.71C456.64 569.73 566.76 171.8 877.66 169.63 1188.55 167.46 1327.41 292.2 1481.48 292.83' stroke='rgba(255%2c 140%2c 0%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M718.2 624.04C893.14 577.03 951.46 97.53 1211.38 93.22 1471.31 88.91 1571.43 290.98 1704.57 294.82' stroke='rgba(255%2c 140%2c 0%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M264.1 566.12C438.28 562.64 571.45 338.91 920.35 331.67 1269.25 324.43 1401.88 94.63 1576.6 90.87' stroke='rgba(255%2c 140%2c 0%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M543.72 597.31C678.78 545.39 625.16 136.67 892.58 135.47 1159.99 134.27 1405.8 372.91 1590.29 376.27' stroke='rgba(255%2c 140%2c 0%2c 1)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1584'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='15.28%25' y1='-39.29%25' x2='84.72%25' y2='139.29%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1585'%3e%3cstop stop-color='rgba(105%2c 105%2c 105%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(0%2c 0%2c 0%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-size: cover;
}

.header_text-container {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center !important;
  width: 500px;
}

.header_text-container h1 {
  font-size: 100px;

  text-align: left;
  font-family: var(--font-heading);
  font-weight: bold;
  color: var(--color-white);
  margin: 0;
  padding: 0 0 0 2rem;
}

.header_button {
  background-color: var(--color-lightgrey);
  color: var(--color-orange);
  border: solid 2px var(--color-orange);
  border-radius: 5px;
  padding: 0.5rem;
  font-size: 26px;
  cursor: pointer;
  transition: 1s;
  width: 400px;
  margin: 2rem 0 0 2rem;
}

.header_button:hover {
  background-color: var(--color-black);
  transition: 1s;

}

.header_image-container img {
  height: 650px;


}

/* Packages */

.packages_container {
  display: flex;
  background-color: var(--color-orange);
  justify-content: center;
  align-items: center;
  height: 800px;
}

.packages_container-card_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.card {
  width: 300px;
  height: 500px;
  background-color: var(--color-white);

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-family: var(--font-heading);
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.card h1 {
  font-size: 50px;
  color: var(--color-lightorange);
}

.card ul {
  list-style-type: none;
  font-size: 28px;
  font-family: var(--font-text);
  margin: 0;
  padding: 0;
}


.card li {
  padding: 1rem;
}


.card_main {
  width: 350px;
  height: 600px;
  background-color: var(--color-white);

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-family: var(--font-heading);
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  z-index: 10;
  position: relative;
}

.card_main-popular {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  border-radius: 50%;
  border: solid 2px var(--color-white);
  top: -20px;
  right: -20px;
  z-index: 10;
  background-color: var(--color-lightorange);
  height: 100px;
  width: 100px;
}

.card_main-popular h2 {
  font-family: var(--font-heading);
  color: var(--color-white);
  font-size: 20px;
  text-align: center;
}

.card_main h1 {
  font-size: 55px;
  color: var(--color-lightorange);
}

.card_main ul {
  list-style: none;
  font-size: 32px;
  margin: 0;
  padding: 0;
}

.card_main li {
  padding: 1rem;
}


.card_main .card_button {
  background-color: var(--color-white);
  border: solid 2px var(--color-lightorange);
  border-radius: 5px;
  font-family: var(--font-heading);
  color: var(--color-lightorange);
  width: 75%;
  font-size: 32px;
  padding: 1rem;
  transition: 1s;
  cursor: pointer;
  font-weight: bold;
}

.card_main .card_button:hover {
  background-color: var(--color-lightorange);
  transition: 1s;
  color: var(--color-white);
}

.card .card_button {
  background-color: var(--color-white);
  border: solid 2px var(--color-lightorange);
  border-radius: 5px;
  font-family: var(--font-heading);
  color: var(--color-lightorange);
  width: 70%;
  font-size: 28px;
  padding: 1rem;
  margin-bottom: 1rem;
  cursor: pointer;
  font-weight: bold;
}

.card .card_button:hover {
  background-color: var(--color-lightorange);
  transition: 1s;
  color: var(--color-white);
}

/* Services */

.services_container {
  position: relative;
  padding: 4rem 0 4rem 0;
}

.services_container:before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background-image: url('/static/interior2.jpg');
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}

.services_card-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  position: relative;

}

.services_card {
  width: 600px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--color-white);
  margin: 2rem;
  border: solid 2px var(--color-lightorange);
}

.services_card-heading_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.services_card-heading_container h1 {
  font-family: var(--font-heading);
  color: var(--color-orange);

  font-size: 42px;
  padding-bottom: 2rem;
}

.services_card .services_icon {
  font-size: 50px;
  color: var(--color-lightorange);
}

.services_card p {
  font-family: var(--font-text);
  width: 75%;
  font-size: 20px;
  text-align: center;
}

.services_card button {
  border: solid 2px var(--color-lightorange);
  font-family: var(--font-text);
  background-color: var(--color-white);
  font-size: 22px;
  border-radius: 5px;
  padding: 1rem;
  cursor: pointer;
  color: var(--color-lightorange);
  font-weight: bold;
  transition: 1s;
  margin-bottom: 1rem;
}

.services_card button:hover {
  background-color: var(--color-lightorange);
  color: var(--color-white);
  transition: 1s;
}

/* Contact1 */

.contact1_container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--color-black);
  padding: 5rem 0 5rem 0;
}

.contact1_text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact1_text-container h2 {
  font-family: var(--font-heading);
  color: var(--color-orange);
  font-size: 50px;
  padding-bottom: 2rem;
}

.contact1_text-container p {
  font-family: var(--font-text);
  color: var(--color-white);
  font-size: 32px;
  width: 500px;
}


.contact1_form-container {

  border: 2px solid var(--color-white);

}

.contact1_form-container form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--color-orange);
}

.contact1_form-container input {

  background-color: var(--color-black);
  margin: .5rem;
  padding: 10px;
  width: 300px;
  border: 2px solid var(--color-white);


}

input[type="text"] {
  font-family: var(--font-text);
  color: var(--color-white);
  /* Fallback for older browsers */
  color: rgba(0, 0, 0, 0.3);
  text-align: center;
  font-size: 18px;
}

input[type="email"] {
  font-family: var(--font-text);
  color: var(--color-white);
  /* Fallback for older browsers */
  color: rgba(0, 0, 0, 0.3);
  text-align: center;
  font-size: 18px;
}

input,
select,
textarea {
  color: var(--color-white);
}

textarea:focus,
input:focus {
  color: var(--color-white);
}

.button1 {
  background-color: var(--color-orange) !important;
  font-family: var(--font-text);
  font-size: 18px;
  transition: 1s;
  cursor: pointer;
}

.button1:hover {
  transition: 1s;
  color: var(--color-orange);
  background-color: var(--color-black) !important;
}

/* About */

.about_container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 5rem 0 5rem 0;
  position: relative;
}

.about_container:before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1385' height='560' preserveAspectRatio='none' viewBox='0 0 1385 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1843%26quot%3b)' fill='none'%3e%3cpath d='M-22.94 214.06C152.17 216.83 292.61 427 642.69 432.46 992.77 437.92 1133.35 646.23 1308.32 648.93' stroke='rgba(255%2c 140%2c 0%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M-259.82 201.17C-63.63 205.88 181.23 475.16 473.54 481.17 765.85 487.18 744 596.79 840.22 598.2' stroke='rgba(255%2c 140%2c 0%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M-201.15 351.8C-94.78 352.04 8.69 421.8 218.54 421.8 428.38 421.8 419.41 349.22 638.22 351.8 857.04 354.38 927.37 652.76 1057.91 670.07' stroke='rgba(255%2c 140%2c 0%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M-49.96 303.63C44.92 303.93 136.55 373.63 323.07 373.63 509.58 373.63 503.18 301.97 696.1 303.63 889.02 305.29 955.18 557.59 1069.13 570.91' stroke='rgba(255%2c 140%2c 0%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M-166.18 163.25C9.88 168.13 219.66 416.99 487.33 426.45 755 435.91 722.23 590.63 814.08 595.54' stroke='rgba(255%2c 140%2c 0%2c 1)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1843'%3e%3crect width='1385' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}

.about_container span {
  color: var(--color-black);
}

.about_container h2 {
  font-family: var(--font-heading);
  color: var(--color-orange);
  font-size: 50px;
  line-height: 70px;
  padding-bottom: 2rem;
  margin: 0 3rem;
  text-align: center;
}

.about_container p {
  font-family: var(--font-text);
  color: var(--color-black);
  font-size: 32px;
  width: 75%;
  padding: 3rem 0;
  text-align: center;
}


/* Cta */

.cta_container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--color-orange);
  height: 10rem;
}

.cta_text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cta_text-container h2 {
  font-family: var(--font-heading);
  font-size: 42px;
  padding: 0;
  margin: 0;
}


.cta_container button {
  font-family: var(--font-heading);
  background-color: var(--color-orange);
  font-size: 42px;
  border: 2px solid var(--color-black);
  padding: 2rem;
  cursor: pointer;
  transition: 1s;
  border-radius: 5px;
  color: var(--color-black);
}

.cta_container button:hover {
  color: var(--color-orange);
  background-color: var(--color-black);
}

.phone {
  transition: 1s;
  transform: scale(-1, -1) rotate(45deg);
}

.cta_container:hover .phone {
  transform: translateX(-10px) rotate(100deg) scale(120%);
  transition: .5s;
}

/* Locations */

.locations_container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 5rem 0;
  position: relative;
}

.locations_container:before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.4;
  background-image: url('/static/carwash.jpg');
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}

.locations_text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 800px;
}

.locations_text-container h2 {
  font-family: var(--font-heading);
  font-size: 50px;
  line-height: 70px;
  color: var(--color-orange);
  padding-bottom: 2rem;
  opacity: .999;
  text-align: center;
}

.locations_text-container ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style: none;
  font-family: var(--font-text);
  font-size: 32px;
  height: 400px !important;
  padding: 0;
  margin: 0;
  width: 100%;

}

.locations_text-container li {
  padding: 1rem;

}

.locations_container img {
  height: 400px !important;
  border: solid 2px var(--color-orange);
  padding: 1rem;
  opacity: .9 !important;
}

/* Gallery */

.embla {
  --slide-spacing: 1rem;
  --slide-size: 50%;
  --slide-height: 19rem;
  padding: 1.6rem;
}

.embla__viewport {
  overflow: hidden;
}

.embla__container {
  display: flex;
  flex-direction: row;
  height: auto;
  margin-left: calc(var(--slide-spacing) * -1);
}

.embla__slide {
  flex: 0 0 var(--slide-size);
  max-width: 500px;
  margin: 1rem;
  position: relative;
}

.embla__slide__img {
  display: block;
  height: 700px;
  width: 100%;
  object-fit: cover;

}


/* Contact2 */

.contact2-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1008%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(255%2c 140%2c 0%2c 1)'%3e%3c/rect%3e%3cpath d='M493.76 669.54C608.37 660.01 684.68 428.47 884.95 427.46 1085.22 426.45 1080.55 497.46 1276.15 497.46 1471.74 497.46 1567.99 427.74 1667.34 427.46' stroke='rgba(0%2c 0%2c 0%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M164.13 663.97C343.39 660.53 483.24 432.17 840.61 425.86 1197.97 419.55 1338.95 204.75 1517.08 201.86' stroke='rgba(0%2c 0%2c 0%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M367.74 615.21C496.58 600.72 572.16 318.53 791.72 316.53 1011.27 314.53 1003.7 386.53 1215.69 386.53 1427.68 386.53 1532.24 316.76 1639.67 316.53' stroke='rgba(0%2c 0%2c 0%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M213.02 581.78C344.29 572.49 435.7 319.05 668.56 317.98 901.43 316.91 896.34 387.98 1124.11 387.98 1351.88 387.98 1464.43 318.18 1579.65 317.98' stroke='rgba(0%2c 0%2c 0%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M849.13 657.41C952.61 653.95 1018.58 502.51 1229.33 493.16 1440.07 483.81 1502.11 297.67 1609.52 291.56' stroke='rgba(0%2c 0%2c 0%2c 1)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1008'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-size: cover;
}

.heading {
  margin: 5rem 0;
}

.heading h1 {
  font-family: var(--font-heading);
  color: var(--color-white);
  text-align: center;
}

.contact2 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  margin-bottom: 10rem;
}

.contact2-links {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.contact2-links a {
  color: var(--color-white);
  font-size: 32px;
  font-family: var(--font-text);
  cursor: pointer;
  transition: 1s;
  text-decoration: none;
}

.contact2-links a:hover {
  color: var(--color-black);
  transition: 1s;
}



.contact2-contact {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-family: var(--font-text);
}

.contact2-contact ul {
  list-style: none;
  font-family: var(--font-text);
  margin: 0;
  padding: 0;
}

.name {
  font-size: 32px;
  color: var(--color-white);
}

.phone_i {
  font-size: 32px
}

.phone_i {
  margin-right: 0.5rem;
  color: var(--color-white);
}

.contact2-media {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.contact2-media a {
  font-size: 50px;
  color: var(--color-black);

}

.icon_media {
  transition: 1s;
  cursor: pointer;
  color: var(--color-white);
}

.icon_media:hover {
  color: var(--color-black);
  transition: 1s;
}

/* Media Queries */

@media screen and (max-width: 2000px) {

  .header_text-container {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: flex-start;
    width: 550px;
  }


  .header_image-container img {
    height: 520px;


  }

  .locations_container img {
    height: 500px;
    border: solid 2px var(--color-orange);
    padding: 1rem;
    opacity: .9 !important;
  }
}

@media only screen and (min-width: 1100px) and (max-width: 1200px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {

  .brand-name {
    text-decoration: none;
    color: var(--color-white);
    font-family: var(--font-heading);
    font-size: 20px;
    margin-left: 1rem;
  }

  .navigation-menu ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    font-size: 16px;
    margin-right: 0.5rem;
  }

  .btn {
    font-size: 16px;
    border-radius: 10px;
    border: solid 2px var(--color-white);
    color: var(--color-white);
    background-color: var(--color-orange);
    padding: 0.5rem;
    cursor: pointer;



  }

  .header_container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 800px;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1584%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='url(%23SvgjsLinearGradient1585)'%3e%3c/rect%3e%3cpath d='M369.06 669.93C515.67 634.02 561.53 245.51 790.93 237.98 1020.34 230.45 1001.87 307.98 1212.81 307.98 1423.74 307.98 1527.77 238.22 1634.68 237.98' stroke='rgba(255%2c 140%2c 0%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M273.83 589.71C456.64 569.73 566.76 171.8 877.66 169.63 1188.55 167.46 1327.41 292.2 1481.48 292.83' stroke='rgba(255%2c 140%2c 0%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M718.2 624.04C893.14 577.03 951.46 97.53 1211.38 93.22 1471.31 88.91 1571.43 290.98 1704.57 294.82' stroke='rgba(255%2c 140%2c 0%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M264.1 566.12C438.28 562.64 571.45 338.91 920.35 331.67 1269.25 324.43 1401.88 94.63 1576.6 90.87' stroke='rgba(255%2c 140%2c 0%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M543.72 597.31C678.78 545.39 625.16 136.67 892.58 135.47 1159.99 134.27 1405.8 372.91 1590.29 376.27' stroke='rgba(255%2c 140%2c 0%2c 1)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1584'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='15.28%25' y1='-39.29%25' x2='84.72%25' y2='139.29%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1585'%3e%3cstop stop-color='rgba(105%2c 105%2c 105%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(0%2c 0%2c 0%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .header_text-container {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: flex-start;
    width: 500px;
  }

  .header_text-container h1 {
    font-size: 80px;

    text-align: left;
    font-family: var(--font-heading);
    font-weight: bold;
    color: var(--color-white);
    padding: 0 0 2rem 3rem;
  }

  .header_button {
    background-color: var(--color-lightgrey);
    color: var(--color-orange);
    border: solid 2px var(--color-orange);
    border-radius: 5px;
    padding: 0.5rem;
    margin-left: 3rem;
    font-size: 26px;
    cursor: pointer;
    transition: 1s;
    width: 400px;
  }

  .header_button:hover {
    background-color: var(--color-black);
    transition: 1s;

  }

  .header_image-container img {
    height: 420px;


  }


  .locations_container img {
    display: none;
  }

}


@media screen and (max-width: 850px) {

  .brand-name {
    text-decoration: none;
    color: var(--color-white);
    font-family: var(--font-heading);
    font-size: 26px;
    margin-left: 1rem;
  }


  .hamburger {
    display: block;
  }

  .navigation-menu ul {
    display: none;
  }

  .navigation-menu ul {
    /* // navigation menu is positioned to start 60px from the top of the document (which is directly below the navbar) */
    position: absolute;
    top: 60px;
    left: 0;
    /* // stacks the li tags vertically  */
    flex-direction: column;
    /* // makes menu span full height and width */
    width: 100%;
    height: 510px;
    background-color: white;

  }

  .navigation-menu li {
    /* // centers link text and strips off margin */
    text-align: center;
    margin: 0;
  }

  .navigation-menu li a {
    color: black;
    /* // increases the surface area of the anchor tag to span the full width of the menu */
    width: 100%;
    padding: 1.5rem 0;

  }

  .navigation-menu li:hover {
    background-color: #eee;
  }

  .navigation-menu ul {
    /* previous styles */
    display: none;
  }

  .navigation-menu.expanded ul {
    display: block;
  }

  .btn {
    display: none;
  }

  .header_container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 90vh;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1584%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='url(%23SvgjsLinearGradient1585)'%3e%3c/rect%3e%3cpath d='M369.06 669.93C515.67 634.02 561.53 245.51 790.93 237.98 1020.34 230.45 1001.87 307.98 1212.81 307.98 1423.74 307.98 1527.77 238.22 1634.68 237.98' stroke='rgba(255%2c 140%2c 0%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M273.83 589.71C456.64 569.73 566.76 171.8 877.66 169.63 1188.55 167.46 1327.41 292.2 1481.48 292.83' stroke='rgba(255%2c 140%2c 0%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M718.2 624.04C893.14 577.03 951.46 97.53 1211.38 93.22 1471.31 88.91 1571.43 290.98 1704.57 294.82' stroke='rgba(255%2c 140%2c 0%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M264.1 566.12C438.28 562.64 571.45 338.91 920.35 331.67 1269.25 324.43 1401.88 94.63 1576.6 90.87' stroke='rgba(255%2c 140%2c 0%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M543.72 597.31C678.78 545.39 625.16 136.67 892.58 135.47 1159.99 134.27 1405.8 372.91 1590.29 376.27' stroke='rgba(255%2c 140%2c 0%2c 1)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1584'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='15.28%25' y1='-39.29%25' x2='84.72%25' y2='139.29%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1585'%3e%3cstop stop-color='rgba(105%2c 105%2c 105%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(0%2c 0%2c 0%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .header_text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .header_text-container h1 {
    font-size: 80px;
    padding-left: 0;
    text-align: center;
    font-family: var(--font-heading);
    font-weight: bold;
    color: var(--color-white);
    padding-top: 8rem;
    padding-bottom: 2rem;
  }

  .header_button {
    background-color: var(--color-lightgrey);
    color: var(--color-orange);
    border: solid 2px var(--color-orange);
    border-radius: 5px;
    padding: 0.5rem;
    margin: 0;
    font-size: 26px;
    cursor: pointer;
    transition: 1s;
    width: 400px;
  }

  .header_button:hover {
    background-color: var(--color-black);
    transition: 1s;

  }

  .header_image-container img {
    height: 450px;


  }

  .packages_container {
    display: flex;
    flex-direction: column;
    background-color: var(--color-orange);
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .packages_container-card_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
  }

  .card {
    width: 400px;
    height: 500px;
    background-color: var(--color-white);
    margin: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-family: var(--font-heading);
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  }

  .card h1 {
    font-size: 50px;
    color: var(--color-lightorange);
  }

  .card ul {
    list-style: none;
    font-size: 28px;
    font-family: var(--font-text);
  }


  .card li {
    padding: 1rem;
  }


  .card_main {
    width: 430px;
    height: 600px;
    background-color: var(--color-white);

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-family: var(--font-heading);
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    z-index: 10;
  }

  .card_main h1 {
    font-size: 55px;
    color: var(--color-lightorange);
  }

  .card_main ul {
    list-style: none;
    font-size: 32px;
  }

  .card_main li {
    padding: 1rem;
  }


  .card_main .card_button {
    background-color: var(--color-white);
    border: solid 2px var(--color-lightorange);
    border-radius: 5px;
    font-family: var(--font-heading);
    color: var(--color-lightorange);
    width: 75%;
    font-size: 32px;
    padding: 1rem;
    transition: 1s;
    cursor: pointer;
    font-weight: bold;
  }

  .card_main .card_button:hover {
    background-color: var(--color-lightorange);
    transition: 1s;
    color: var(--color-white);
  }

  .card .card_button {
    background-color: var(--color-white);
    border: solid 2px var(--color-lightorange);
    border-radius: 5px;
    font-family: var(--font-heading);
    color: var(--color-lightorange);
    width: 70%;
    font-size: 28px;
    padding: 1rem;
    cursor: pointer;
    font-weight: bold;
  }

  .card .card_button:hover {
    background-color: var(--color-lightorange);
    transition: 1s;
    color: var(--color-white);
  }

  .contact1_container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--color-black);
    padding: 5rem 0 5rem 0;
  }

  .contact1_text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 3rem;
  }

  .locations_container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 5rem 0;
    position: relative;
  }

  .locations_container:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    background-image: url('/static/carwash.jpg');
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
  }

  .locations_text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 500px;
  }

  .locations_text-container h2 {
    font-family: var(--font-heading);
    font-size: 50px;
    line-height: 70px;
    color: var(--color-orange);
    padding-bottom: 2rem;
    opacity: .999;
  }

  .locations_text-container ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
    font-family: var(--font-text);
    font-size: 32px;
    height: 300px;

  }

  .locations_text-container li {
    padding: 1rem;

  }

  .locations_container img {
    height: 500px;
    border: solid 2px var(--color-orange);
    padding: 1rem;
    margin-top: 2rem;
    opacity: .9 !important;
  }

  .embla {
    --slide-spacing: 1rem;
    --slide-size: 80%;
    --slide-height: 19rem;
    padding: 1.6rem;
  }

  .embla__viewport {
    overflow: hidden;
  }

  .embla__container {
    display: flex;
    flex-direction: row;
    height: auto;
    margin-left: calc(var(--slide-spacing) * -1);
  }

  .embla__slide {
    flex: 0 0 var(--slide-size);
    max-width: 400px;
    margin: 0.5rem;
    position: relative;
  }

  .embla__slide__img {
    display: block;
    width: 90%;
    object-fit: cover;

  }

  .contact2-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-orange);
  }



  .heading h1 {
    font-family: var(--font-heading);
    color: var(--color-white);
    text-align: center;
    font-size: 60px;
    line-height: 80px;
  }

  .contact2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10rem;
  }

  .contact2-links {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-bottom: 5rem;

    width: 100%;
  }

  .contact2-links a {
    color: var(--color-white);
    font-size: 22px;
    font-family: var(--font-text);
    cursor: pointer;
    transition: 1s;
    width: 100%;

  }




  .contact2-contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-family: var(--font-text);

  }

  .contact2-contact ul {
    list-style: none;
    font-family: var(--font-text);
  }

  .name {
    font-size: 22px;
    color: var(--color-white);
  }

  .phone_i {
    font-size: 22px
  }

  .phone_i {
    margin-right: 0.5rem;
    color: var(--color-white);
  }

  .contact2-media {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2rem 0 0 0;
  }

  .contact2-media a {
    font-size: 80px;
    color: var(--color-black);

  }

  .icon_media {
    transition: 1s;
    cursor: pointer;
    color: var(--color-white);
  }

}

@media screen and (max-width: 450px) {

  .brand-name {
    text-decoration: none;
    color: var(--color-white);
    font-family: var(--font-heading);
    font-size: 26px;
    margin-left: 1rem;
  }


  .hamburger {
    /* // removes default border on button element */
    display: block;

  }

  .navigation-menu ul {
    display: none;
  }

  .navigation-menu ul {
    /* // navigation menu is positioned to start 60px from the top of the document (which is directly below the navbar) */
    position: absolute;
    top: 60px;
    left: 0;
    /* // stacks the li tags vertically  */
    flex-direction: column;
    /* // makes menu span full height and width */
    width: 100%;
    height: 510px;
    background-color: white;

  }

  .navigation-menu li {
    /* // centers link text and strips off margin */
    text-align: center;
    margin: 0;
  }

  .navigation-menu li a {
    color: black;
    /* // increases the surface area of the anchor tag to span the full width of the menu */
    width: 100%;
    padding: 1.5rem 0;

  }

  .navigation-menu li:hover {
    background-color: #eee;
  }

  .navigation-menu ul {
    /* previous styles */
    display: none;
  }

  .navigation-menu.expanded ul {
    display: block;
  }

  .btn {
    display: none;
  }

  .header_container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 900px;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1584%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='url(%23SvgjsLinearGradient1585)'%3e%3c/rect%3e%3cpath d='M369.06 669.93C515.67 634.02 561.53 245.51 790.93 237.98 1020.34 230.45 1001.87 307.98 1212.81 307.98 1423.74 307.98 1527.77 238.22 1634.68 237.98' stroke='rgba(255%2c 140%2c 0%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M273.83 589.71C456.64 569.73 566.76 171.8 877.66 169.63 1188.55 167.46 1327.41 292.2 1481.48 292.83' stroke='rgba(255%2c 140%2c 0%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M718.2 624.04C893.14 577.03 951.46 97.53 1211.38 93.22 1471.31 88.91 1571.43 290.98 1704.57 294.82' stroke='rgba(255%2c 140%2c 0%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M264.1 566.12C438.28 562.64 571.45 338.91 920.35 331.67 1269.25 324.43 1401.88 94.63 1576.6 90.87' stroke='rgba(255%2c 140%2c 0%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M543.72 597.31C678.78 545.39 625.16 136.67 892.58 135.47 1159.99 134.27 1405.8 372.91 1590.29 376.27' stroke='rgba(255%2c 140%2c 0%2c 1)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1584'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='15.28%25' y1='-39.29%25' x2='84.72%25' y2='139.29%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1585'%3e%3cstop stop-color='rgba(105%2c 105%2c 105%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(0%2c 0%2c 0%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: -490px;
  }

  .header_text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .header_text-container h1 {
    font-size: 50px;

    text-align: center;
    font-family: var(--font-heading);
    font-weight: bold;
    color: var(--color-white);
    padding-top: 4rem;
    padding-bottom: 2rem;
    padding-left: 0;
  }

  .header_button {
    background-color: var(--color-lightgrey);
    color: var(--color-orange);
    border: solid 2px var(--color-orange);
    border-radius: 5px;
    padding: 0.5rem;
    font-size: 26px;
    cursor: pointer;
    transition: 1s;
    width: 200px;
    margin: 0;
  }

  .header_button:hover {
    background-color: var(--color-black);
    transition: 1s;

  }

  .header_image-container img {
    height: 250px;


  }

  .packages_container {
    display: flex;
    flex-direction: column;
    background-color: var(--color-orange);
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .packages_container-card_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
  }

  .card {
    width: 300px;
    height: 500px;
    background-color: var(--color-white);
    margin: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-family: var(--font-heading);
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  }

  .card h1 {
    font-size: 40px;
    color: var(--color-lightorange);
  }

  .card ul {
    list-style: none;
    font-size: 22px;
    font-family: var(--font-text);
  }


  .card li {
    padding: 1rem;
  }


  .card_main {
    width: 330px;
    height: 500px;
    background-color: var(--color-white);

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-family: var(--font-heading);
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    z-index: 10;
  }

  .card_main h1 {
    font-size: 45px;
    color: var(--color-lightorange);
  }

  .card_main ul {
    list-style: none;
    font-size: 22px;
  }

  .card_main li {
    padding: 1rem;
  }


  .card_main .card_button {
    background-color: var(--color-white);
    border: solid 2px var(--color-lightorange);
    border-radius: 5px;
    font-family: var(--font-heading);
    color: var(--color-lightorange);
    width: 75%;
    font-size: 32px;
    padding: 1rem;
    transition: 1s;
    cursor: pointer;
    font-weight: bold;
  }

  .card_main .card_button:hover {
    background-color: var(--color-lightorange);
    transition: 1s;
    color: var(--color-white);
  }

  .card .card_button {
    background-color: var(--color-white);
    border: solid 2px var(--color-lightorange);
    border-radius: 5px;
    font-family: var(--font-heading);
    color: var(--color-lightorange);
    width: 70%;
    font-size: 28px;
    padding: 1rem;
    cursor: pointer;
    font-weight: bold;
  }

  .card .card_button:hover {
    background-color: var(--color-lightorange);
    transition: 1s;
    color: var(--color-white);
  }

  .services_container {
    position: relative;
    padding: 4rem 0 4rem 0;
  }

  .services_container:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    background-image: url('/static/interior2.jpg');
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
  }

  .services_card-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    position: relative;

  }

  .services_card {
    width: 600px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--color-white);
    margin: 2rem;
    padding: 2rem;
  }

  .services_card-heading_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .services_card-heading_container h1 {
    font-family: var(--font-heading);
    color: var(--color-orange);
    text-align: center;

    font-size: 40px;
    padding-bottom: 2rem;
  }

  .services_card .services_icon {
    font-size: 50px;
    color: var(--color-lightorange);
  }

  .services_card p {
    font-family: var(--font-text);
    width: 100%;
    font-size: 16px;
    padding: 1rem 0;
  }

  .services_card button {
    border: solid 2px var(--color-lightorange);
    font-family: var(--font-text);
    background-color: var(--color-white);
    font-size: 22px;
    border-radius: 5px;
    padding: 1rem;
    cursor: pointer;
    color: var(--color-lightorange);
    font-weight: bold;
    transition: 1s;
  }

  .services_card button:hover {
    background-color: var(--color-lightorange);
    color: var(--color-white);
    transition: 1s;
  }

  .contact1_container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--color-black);
    padding: 5rem 0 5rem 0;
  }

  .contact1_text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .contact1_text-container h2 {
    font-family: var(--font-heading);
    color: var(--color-orange);
    font-size: 40px;
    padding-bottom: 2rem;
    margin: 2rem;
    text-align: center;
  }

  .contact1_text-container p {
    font-family: var(--font-text);
    color: var(--color-white);
    font-size: 22px;
    width: 80%;
    padding: 0 0rem;
    text-align: center;

  }


  .contact1_form-container {

    border: 2px solid var(--color-white);

  }

  .contact1_form-container form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  .contact1_form-container form::placeholder {
    color: var(--color-white) !important;
  }

  .contact1_form-container input {

    background-color: var(--color-orange);
    margin: .5rem;
    padding: 10px;
    width: 300px;
    border: 2px solid var(--color-white);


  }

  input[type="text"] {
    font-family: var(--font-text);
    color: var(--color-white);
    /* Fallback for older browsers */
    color: rgba(0, 0, 0, 0.3);
    text-align: center;
    font-size: 18px;
    font-family: var(--font-text);
  }

  input[type="email"] {
    font-family: var(--font-text);
    color: var(--color-white);
    /* Fallback for older browsers */
    color: rgba(0, 0, 0, 0.3);
    text-align: center;
    font-size: 18px;
  }

  input,
  select,
  textarea {
    color: var(--color-white);
  }

  textarea:focus,
  input:focus {
    color: var(--color-white);
  }

  .button1 {
    background-color: var(--color-orange) !important;
    font-family: var(--font-text);
    font-size: 18px;
    transition: 1s;
    cursor: pointer;
  }

  .button1:hover {
    transition: 1s;
    color: var(--color-orange);
    background-color: var(--color-black) !important;
  }

  .about_container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 5rem 0 5rem 0;
    position: relative;
  }

  .about_container h2 {
    font-family: var(--font-heading);
    color: var(--color-orange);
    font-size: 40px;
    line-height: 60px;
    padding-bottom: 2rem;
    margin: 0 2rem;
  }

  .about_container p {
    font-family: var(--font-text);
    color: var(--color-black);
    font-size: 22px;
    width: 75%;
    padding: 3rem 2rem;
  }

  span {
    color: var(--color-black);
  }

  .cta_container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--color-orange);
    height: 10rem;
    color: var(--color-black);
  }

  .cta_text-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .cta_text-container h2 {
    font-family: var(--font-heading);
    font-size: 22px;
  }


  .cta_container button {
    font-family: var(--font-heading);
    background-color: var(--color-orange);
    font-size: 22px;
    border: 2px solid var(--color-black);
    padding: 2rem;
    cursor: pointer;
    transition: 1s;
    border-radius: 5px;
  }

  .cta_container button:hover {
    color: var(--color-orange);
    background-color: var(--color-black);
  }

  .phone {
    transition: 1s;
    transform: scale(-1, -1) rotate(45deg);
  }

  .cta_container:hover .phone {
    transform: translateX(-10px) rotate(100deg) scale(120%);
    transition: .5s;
  }

  .locations_container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 5rem 0;
    position: relative;
  }

  .locations_container:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    background-image: url('/static/carwash.jpg');
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
  }

  .locations_text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
  }

  .locations_text-container h2 {
    font-family: var(--font-heading);
    font-size: 40px;
    line-height: 60px;
    color: var(--color-orange);
    padding: 2rem;
    opacity: .999;
  }

  .locations_text-container ul {

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    font-family: var(--font-text);
    font-size: 22px;
    height: 300px;

  }

  .locations_text-container li {
    padding: 1rem;

  }

  .locations_container img {
    display: none;
  }

  .embla {
    --slide-spacing: 1rem;
    --slide-size: 80%;
    --slide-height: 19rem;
    padding: 1.6rem;
  }

  .embla__viewport {
    overflow: hidden;
  }

  .embla__container {
    display: flex;
    flex-direction: row;
    height: auto;
    margin-left: calc(var(--slide-spacing) * -1);
  }

  .embla__slide {
    flex: 0 0 var(--slide-size);
    max-width: 200px;
    margin: 0.5rem;
    position: relative;
  }

  .embla__slide__img {
    display: block;
    height: 400px;
    width: 100%;
    object-fit: cover;

  }

  .heading h1 {
    font-family: var(--font-heading);
    color: var(--color-white);
    text-align: center;
    font-size: 40px;
    line-height: 60px;
    margin: 0 2rem;
  }

  .contact2-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1008%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(255%2c 140%2c 0%2c 1)'%3e%3c/rect%3e%3cpath d='M493.76 669.54C608.37 660.01 684.68 428.47 884.95 427.46 1085.22 426.45 1080.55 497.46 1276.15 497.46 1471.74 497.46 1567.99 427.74 1667.34 427.46' stroke='rgba(0%2c 0%2c 0%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M164.13 663.97C343.39 660.53 483.24 432.17 840.61 425.86 1197.97 419.55 1338.95 204.75 1517.08 201.86' stroke='rgba(0%2c 0%2c 0%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M367.74 615.21C496.58 600.72 572.16 318.53 791.72 316.53 1011.27 314.53 1003.7 386.53 1215.69 386.53 1427.68 386.53 1532.24 316.76 1639.67 316.53' stroke='rgba(0%2c 0%2c 0%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M213.02 581.78C344.29 572.49 435.7 319.05 668.56 317.98 901.43 316.91 896.34 387.98 1124.11 387.98 1351.88 387.98 1464.43 318.18 1579.65 317.98' stroke='rgba(0%2c 0%2c 0%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M849.13 657.41C952.61 653.95 1018.58 502.51 1229.33 493.16 1440.07 483.81 1502.11 297.67 1609.52 291.56' stroke='rgba(0%2c 0%2c 0%2c 1)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1008'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: -400px;
  }

}